{% if cart.item_count > 0 %}
<div class='page-title-header'>
  <h1 class='page-title'>Your Cart</h1>
</div>
  <form action="/cart" method="post" novalidate>
    <table class='cart-table'>
      <tbody>
        {% for item in cart.items %}
          <tr>
            <td>
              <a href="{{ item.url | within: collections.all }}">
                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
              </a>
            </td>
            <td>
              <a class='cart-product-title' href="{{ item.url }}">{{ item.product.title }}</a>
              {% comment %} {{ item.variant.title }} {% endcomment %}
              <a class='cart-remove' href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
            </td>
            <td>{{ item.price | money }}</td>
            <td>
              <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
            </td>
            <td>
              {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
              {{ item.line_price | money }}
              {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class='totals'>
      <p>sub total : {{ cart.total_price | money }}</p>
      <button class='update' type="submit" name="update">Update</button>
      <button class='checkout' type="submit" name="checkout">Checkout</button>
    </div>
  </form>
{% else %}
  <h2>cart</h2>
  Cart is empty
{% endif %}
