{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Collection list" section in the Theme Editor.

  Theme Store required settings
  - Heading: title of the collection list section
  - Collection
{%- endcomment -%}

<section class='block-collection'>
  {% for block in section.blocks %}
    {%- assign collection = collections[block.settings.collection] -%}
    <div class="collection-list">
      <a class='the-thing' href="{{ collection.url | default: "#" }}" class="collection-list-item" {{ block.shopify_attributes }}>
        {% if collection.image != blank or collection.products.first != blank %}
          {%- assign default_label = 'homepage.onboarding.collection_title' | t -%}
            <div class='title-button'>
              <h1 class='collection-title'>{{ collection.title | default: default_label }}</h1>
              <button class='learn-button'>learn more</button>
            </div>
          {%- assign image_object = collection.image | default: collection.products.first.featured_image -%}
            <img src='{{ collection.image | img_url: "625x"}} alt={{collection.image.alt}}' >
        {% elsif collection == empty %}
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
          {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
        {% endif %}
      </a>
    </div>
  {% endfor %}

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</section>

{% schema %}
  {
    "name": "Collection list",
    "max_blocks": 12,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection",
        "blocks": [
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}
